body {
	background: #ff9d1c;
	min-width: 960px;
	margin: 0;
}

#page {
	width: 960px;
	margin: 0 auto;
}

#header {
	margin-bottom: 30px;
	text-align: center;
}

#logo {
	float: left;
	margin: 27px 0 41px;
}

#navigation {
	display: inline-block;
	list-style: none;
	width: 650px;
	margin: 0;
	padding: 0;
}

#navigation li {
	float: left;
	height: 60px;
	width: 160px;
	text-align: center;
}

#navigation li a {
	color: #0a223d;
	display: inline-block;
	font: bold 24px 'OpenSans-Semibold';
	padding: 28px 10px 0;
	text-decoration: none;
	text-shadow: 0 1px #9c9894;
}

#navigation li:hover {
	background: url(../images/bg-navigation-hover.png) no-repeat center top;
}


#contents {
	display: inline-block;
	width: 100%;
	margin-bottom: 30px;
	color: #0a223d;
}


#footer {
	background-color: #0a223d;
	width: 100%;
	border-top: 1px solid #cfd5d7;
	position: absolute;
	left: 0;
	bottom: 0;
}

#footer > div {
	width: 960px;
	margin: 0 auto;
}

#links {
	display: inline-block;
	list-style: none;
	width: 100%;
	margin: 48px 0 36px;
	padding: 0;
}

#links h4 {
	color: #fff8ed;
	font: bold 14px/24px 'OpenSans';
	margin: 0;
}

#links > li {
	float: left;
}

#links > li ul {
	list-style: none;
	width: 230px;
	margin: 0 100px 0 0;
	padding: 0;
}

#links > li ul li {
	border-bottom: 1px solid #fff8ed;
	margin: 6px 0 0;
	padding: 0 0 8px;
	color: #eb983e;
}

#connect a {
	color: #eb983e;
	text-decoration: none;
}

#connect a:hover {
	color: #bab9b8;
}



.footnote {
	clear: both;
	color: #6c6e69;
	font: 10px/24px "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-align: center;
	text-shadow: none;
}